html{
    background:#000;
}
body, html{
    height:100%;
    margin:0; padding:0;
    font-size:1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    box-sizing: border-box;
    position: relative;
}

.flex{
    display:flex;
}
.clear{
    clear:both;
}
.hidden{
    display: none;
}


/* JASMOP */
    #content, #overlay > div.content{
        position: absolute;
        left:2vw;
        right:2vw;
        padding-top:2vw; padding-bottom:2vw;
    }


    /* Forms */
        input[type=text], input[type=number], input[type=email], select{
            font-size:2vmax;
            padding:0.5vw;
            text-align: center;
            border-radius:1vw;
            border:0.25vw solid #000;
            background:rgba(255,255,255,.5);
            color:#000;
            display:block;
            width:100%; 
            position: relative;
            box-sizing: border-box;
        }

        input[type=submit],
        input[type=button]
        {
            font-size:2vmax;
            padding:0.5vw;
            text-align: center;
        }

        textarea{
            display:block;
            position: relative;
            box-sizing: border-box;
            width:100%;
            font-size:1.5vmax;
        }


    /* Menu */
        #menu{
            display: none;
        }


    /* ERRORS */
        #errors{
            z-index:5000;
            position: fixed;
            left:50%; top:50%;
            transform: translate(-50%, -50%);
        }

        #errors > div{
            text-shadow:0.1vw 0.1vw 0.2vw rgba(0,0,0,.5);
            font-weight: bold;
            color:#ABF;
            background:rgba(0,0,0,.5);
            padding:1vw;
            border-radius:0.5vw;
            font-size:1.25vw;
            transition:opacity 2s ease-in-out;
            opacity:1;
        }
        #errors div.error{
            color:#FAA;
        }
        #errors > div.fade{
            opacity:0;
        }
        

        


    /* Overlay */
        #overlay{
            position: fixed;
            left:0; right:0; bottom:0; top:0;
            background:rgba(255,255,255,.5);
            z-index:1000;
        }
        #overlay.hidden{
            display:none;
        }
        #overlay > div.content{
            width:75%;
            margin-left:auto; margin-right:auto;
            left:0; right:0;
            top:50%;
            transform:translateY(-50%);
            position: absolute;
            background:rgba(255,255,255,.75);
            border:0.2vw #FFF solid;
            padding:1vw;
            overflow:auto;
            max-height:90%;
            border-radius:2vw;
        }
        /*
        #overlay > div.content > div.text{
        }
        */
        #overlay > div.content > div.buttons{
            margin-top:1vmax; 
        }



/* */



/* Generic */

    /**
        Cursor styles:
        cursor:url('../media/cursors/default.svg'), auto; - Default
        cursor:url('../media/cursors/pointer.svg') 5 5, auto; - Pointer
        cursor:url('../media/cursors/move.svg') 12 12, auto; - Move
        cursor:url('../media/cursors/inspect.svg') 7 8, auto;  - help
        

    */

    div.droppable.dragging.dragHoverOver{
        background:rgba(210,255,210,.75) !important;
        border-color:#AFA !important;
    }
    div.droppable.dragging{
        background:rgba(255,255,255,.5) !important;
    }

    div.ui-draggable-dragging{
        z-index:2000;
    }
    

    #wrap{
        position: fixed;
        
        width:100vw;
        height:56.25vw;

        max-height: 100vh;
        max-width: 177.78vh; /* 16/9 = 1.778 */

        z-index:1;
        overflow:auto;
        top:50%; left:50%;
        transform:translate(-50%,-50%);
        background-size: cover;
        background-repeat: no-repeat;
        background: radial-gradient(ellipse at center, #e2edff 34%,#b1c8ef 81%,#98b0d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        cursor:url('../media/cursors/default.svg'), auto;
    }

    @media all and (display-mode: standalone) {
        #wrap{
            max-height:none;
            width:100%;
            max-width: none;
            height:100%;
        }
    }

    #wrap > #page{
        width:100%;
        height:100%;
        color:#FFF;
        z-index:2;
    }


    div.ability.highlighted,
    #abilities:not(.disabled) div.ability.active{
        border-color:#DFD;
        background:rgba(20,80,20,.5);
    }

    div.ability{
        margin:0.25vw;
        overflow:visible;
        font-size:2vw;
        display:inline-block;
    }

    div.ability[data-id] img.icon{
        float:left;
        width:2vw;
        height:2vw; 
        margin-right:0.2vw;
    }

    div.button,
    input[type=submit],
    input[type=button]{
        background: rgba(0,0,0,.5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        padding:1vw; 
        border:0.2vw solid #000;
        border-radius:1vw;
        cursor:url('../media/cursors/pointer.svg') 5 5, auto;
        

        text-align: center;
        user-select: none;
        color:#FFF;
        margin:0.25vw;
        outline: none;
    }
    div.button:hover,
    input[type=submit]:hover,
    input[type=button]:hover{
        border:0.2vw solid #FFF;
        outline:none;
    }

    @keyframes buttonHighlight{
        from{box-shadow:0 0 1vw rgba(255,255,255,.0);}
        to{box-shadow:0 0 1vw rgba(255,255,255,1);}
    }
    div.button.highlighted{
        animation:buttonHighlight 1s ease-in-out alternate infinite;
        background-color:rgba(50,100,50,.5); 
    }


    div.border{
        background:rgba(0,0,0,.5);
        padding:1vw;
        border:0.2vw solid #FFF;
        border-radius:1vw;
    }
    div.border.white{
        border:0.2vw solid #000;
        background:rgba(255,255,255,.5);
    }

    span.tooltip{
        z-index:10;
        display:none;
    }

    *:hover > span.tooltip{
        position:absolute;
        display:block;
        pointer-events: none;
        left:50%;
        top:50%;
        transform:translateX(-50%);
        background:rgba(0,0,0,.75);
        border-radius:1vw;
        border:.2vw solid rgba(255,255,255,.5);
        padding:0.5vw;
        max-width:20vw;
        font-size:1vw;
        min-width:10vw;
    }

    p{
        font-size:inherit;
        margin:0; padding:0;
    }

/**/

/* Index */

    #wrap[data-page=index] div.splashscreen,
    #wrap[data-page=index] div.charcreator
    {
        width:50%;
        left:50%;
        transform:translateX(-50%);
        padding:4vw;
        margin-top:0.5vw;
        text-align: center;
    }

    #wrap[data-page=index] div.splashscreen h1{
        margin:0;
    }
    #wrap[data-page=index] div.splashscreen p{
        margin-bottom:1vw;
    }
    

    #wrap[data-page=index] div.charcreator input.pronoun
    {
        display: inline-block;
        width:30%;
    }

    #wrap[data-page=index] div.charcreator select option,
    #wrap[data-page=index] div.charcreator select
    {
        text-transform: capitalize;
    }

    #wrap[data-page=index] div.charcreator{
        font-size:1vw;
        padding:2vw;
    }

    #wrap[data-page=index] div.charselect{
        width:100%;
        box-sizing: border-box;
    }

    #wrap[data-page=index] div.charselect > div.left
    {
        width:30%;
    }
    #wrap[data-page=index] div.charselect > div.right
    {
        width:70%;
        margin-left:1vw;
    }

    #wrap[data-page=index] div.charselect div.right img.icon{
        float:left;
        max-width:20vw;
        max-height:20vw;
        margin-right:1vw;
    }

    #wrap[data-page=index] div.charselect div.right h2{
        margin:0;
    }

    #wrap[data-page=index] div.charselect div.right table{
        background:rgba(255,255,255,.25);
        padding:0.5vw;
        border-radius: 1vw;
    }
    #wrap[data-page=index] div.charselect div.right table td:nth-child(odd){
        font-weight: bold;
    }

    #wrap[data-page=index] div.charselect div.left div.character h3{
        margin:0;
        color:#FFF;
    }
    #wrap[data-page=index] div.charselect div.left div.character{
        margin:0;
        background-size:cover;
        background-position-y: 25%;
        padding:2vw 0;
        border-radius:1vw;
        border:0.2vw solid #000;
    }
    #wrap[data-page=index] div.charselect div.left div.character div.black{
        background:rgba(0, 0, 0, .5);
        padding:0.5vw 2vw;
    }
    #wrap[data-page=index] div.charselect div.left div.character:hover{
        cursor:url('../media/cursors/pointer.svg') 5 5, auto;
        border-color: #AAA;
    }
    #wrap[data-page=index] div.charselect div.left div.character.selected{
        border-color: #FFF;
    }
    

    



    

/**/


/* Battle */
    #wrap[data-page=battle]{
        overflow:visible;
    }
    #wrap[data-page=battle] #content{
        height:100%;
        overflow:visible;
        margin:0;
        transform: none;
        padding:0.5vw;
    }
    #wrap[data-page=battle] #content div.button{
        padding:0.5vw;
        font-size:2vw;
    }

    #wrap[data-page=battle] div.top{
        display:flex;
        height:75%; 
        justify-content: space-between;
        margin-bottom:0.5vw;
    }


    #wrap[data-page=battle] #battlescreen{
        width:60%;
        margin:0 0.5vw;
        color:#CCC;
        overflow: hidden;
    }

    #wrap[data-page=battle] #battlescreen > #text > div.statusText{
        margin:0.2vw; padding:0;
    }

    #wrap[data-page=battle] #battlescreen > #text > div{
        display:block;
    }

    #wrap[data-page=battle] #battlescreen > #text > div.me
    {
        color:#FFF;
    }

    #wrap[data-page=battle] #battlescreen > #text > div.opponent
    {
        text-align: right;
    }

    #wrap[data-page=battle] #battlescreen > #text > div.statusText.chat
    {
        font-weight: normal;
        font-style: italic;
    }
    
    #wrap[data-page=battle] #battlescreen > #text > div.statusText.chat.opponent
    {
        text-align: right;
    }

    
    
    #wrap[data-page=battle] #battlescreen > #text > div.statusText.chat p{
        font-size:1.25vw;
        background:rgba(0,0,0,.25);
        border-radius:0.25vw;
        padding:0.25vw;
        display: inline-block;
        color:#EEE;
        max-width:50%;
    }

    #wrap[data-page=battle] #battlescreen > #text > div.important{
        text-align: center;
        font-weight: bold;
        color:#FFF;
    }

    
    #wrap[data-page=battle] #battlescreen > #text > div.turn{
        font-size:1vw;
        text-align: center;
        margin:0.5vw 0 0 0;
        background:rgba(0,0,0,.1);
    }

    #wrap[data-page=battle] #battlescreen div.rptext p{
        font-size:1.25vw;
        max-width:85%; 
        display:inline-block;
    }

    #wrap[data-page=battle] #battlescreen div.statusText p{
        font-size:1vw;
        color:#EFE;
    }
    
    #wrap[data-page=battle] #battlescreen div.statusText.bad p{
        color:#FEE;
    }
    

    #wrap[data-page=battle] #text{
        position:absolute;
        top:0.5vw; left:0.5vw; right:0.5vw;
        bottom:3vw;
        overflow:auto;
    }
    #wrap[data-page=battle] #text.singleplayer{
        bottom:0.5vw;
    }
    #wrap[data-page=battle] #chat{
        position:absolute;
        left:0; right:0;
        bottom:0;
        height:3vw; 
        padding:0.5vw;
        border-top:0.1vw solid rgba(255,255,255,.25);
        background:rgba(0,0,0,.25);
        cursor:text;
        outline:none;
    }
    



    #wrap[data-page=battle] #friends, 
    #wrap[data-page=battle] #enemies{
        width:25%;
        padding:0;
        overflow:visible;
    }

    #wrap[data-page=battle] #friends > div.bottom, 
    #wrap[data-page=battle] #enemies > div.bottom{
        position:absolute;
        bottom:0;
        left:0; right:0;
        overflow:visible;
    }

    #wrap[data-page=battle] #manaGems{
        text-align: center;
        padding:0;
    }
    #wrap[data-page=battle] #manaGems div.gem{
        display: inline-block;
        width:4vw;
        height:4vw;
        background-image:url(../media/emerald.svg);
        background-size:100% 100%;
        
        filter:drop-shadow(0 0 0.5vw rgba(50,240,255, 1)); 
    }

    /* Highlight when hovering over a castable ability */
    #wrap[data-page=battle] #manaGems div.gem.highlighted{
        filter:drop-shadow(0 0 0.5vw rgba(100,240,255, 1)) brightness(200%); 
    }

    #wrap[data-page=battle] #manaGems div.gem.disabled{
        filter:drop-shadow(0 0 0.2vw rgba(0,0,0,1)) saturate(0%) brightness(50%); 
    }

    #wrap[data-page=battle] #manaGems div.gem.disabled.semi{
        filter:drop-shadow(0 0 0.5vw rgba(0,0,0, 1)) saturate(0%) brightness(90%); 
    }
    
    #wrap[data-page=battle] #abilities.dead{
        display:none;
    }

    #wrap[data-page=battle] #abilities,
    #wrap[data-page=battle] #cancelAbility
    {
        text-align: center;
    }
    
    #wrap[data-page=battle] #abilities div.ability[data-id],
    #wrap[data-page=battle] #abilities div.button,
    #wrap[data-page=battle] #cancelAbility div.button{
        display:inline-block;
    }

    #wrap[data-page=battle] #abilities div.ability span.tooltip{
        top:0;
        transform:translate(-50%, -100%);
    }
    



    /* Character portraits */

    @keyframes hitDetrimental {
        0%{
            transform: translateY(0);
        }
        10%{
            transform: translateX(-5%);
        }
        22%{
            transform: translateX(-4%);
        }
        43%{
            transform: translateX(3%);
        }
        66%{
            transform: translateX(0);
        }
        76%{
            transform: translateX(-2%);
        }
    }

    @keyframes hitBeneficial {
        0%{
            transform: none;
        }
        20%{
            transform: scale(0.95,0.95);
        }
        30%{
            transform: scale(1.1,1.1);
        }
        66%{
            transform: scale(0.98,0.98);
        }
        85%{
            transform: scale(1.03,1.03);
        }
        100%{
            transform:none;
        }
    }

    @keyframes colorDetrimental{
        0%{filter:sepia(100%) hue-rotate(-45deg) saturate(200%);}
        75%{filter:sepia(100%) hue-rotate(-45deg) saturate(200%);}
        100%{filter:none;} 
    }

    @keyframes colorBeneficial{
        0%{filter:sepia(100%) hue-rotate(55deg) saturate(200%);}
        75%{filter:sepia(100%) hue-rotate(55deg) saturate(200%);}
        100%{filter:none;} 
    }

    #wrap[data-page=battle] div.character{
        background:rgba(0,0,0,.5);
        background-size:cover;
        background-position-y: 25%;
        padding:0.5vw 0;
        border:0.2vw solid #000;
        border-radius:0.5vw;
        user-select: none;
        overflow:visible;
        cursor:url('../media/cursors/inspect.svg') 7 8, auto; ;
        margin-top:0.5vw;
    }



    #wrap[data-page=battle] div.character.hitBeneficial{
        animation: hitBeneficial 0.75s ease, colorBeneficial 1s ease-in-out;
    }
    #wrap[data-page=battle] div.character.hitDetrimental{
        animation: hitDetrimental 0.25s ease, colorDetrimental 0.5s;
    }



    #wrap[data-page=battle] div.character.selectable{
        border-color:#FFF;
        box-shadow:0 0 1vw 0.5vw #FFA;
        cursor:url('../media/cursors/pointer.svg') 5 5, auto;
        transition:transform 0.2s ease-out;
    }
    #wrap[data-page=battle] div.character.selectable:hover{
        transform:scale(1.05,1.05);
    }
    #wrap[data-page=battle] div.character.selectable div.center{
        background:rgba(255,255,200,.5);
    }
    

    #wrap[data-page=battle] div.character div.center{
        background:rgba(0,0,0,.5);
        padding:0.5vw;
        border-top:0.2vw solid rgba(0,0,0,0);
        border-bottom:0.2vw solid rgba(0,0,0,0);
        overflow:hidden;
    }

    #wrap[data-page=battle] div.character div.center h3{
        white-space: nowrap;
    }


    @keyframes playerTurn{
        from{box-shadow:0 0 1vw #FFF;}
        to{box-shadow:0 0 3vw #FFF;}
    }
    #wrap[data-page=battle] div.character.turn{
        border-color:#EFE;
    }
    #wrap[data-page=battle] div.character.turn div.center{
        background:rgba(25,100,25,.5);
        animation: playerTurn 1s ease-in-out alternate infinite;
    }

    #wrap[data-page=battle] div.character.dead{
        border-color:#600;
    }
    #wrap[data-page=battle] div.character.dead div.center{
        background:rgba(100,25,25,.5);
    }


    /* Resources */
    #wrap[data-page=battle] div.character h3,
    #wrap[data-page=battle] div.character p
    {
        font-size:2vw;
        margin:0; padding:0;
    }
    #wrap[data-page=battle] div.character p{
        font-size:1.5vw;
    }
    #wrap[data-page=battle] div.character div.resources{
        position: absolute;
        bottom:-1vw; right:0
    }
    #wrap[data-page=battle] div.character div.resources > div{
        width:3vw;
        height:3vw;
        color:#FAA;
        font-weight: bold;
        background-size:100% 100%;
        display: inline-block;
    }
    #wrap[data-page=battle] div.character div.resources > div > span{
        position: absolute;
        left:50%; top:50%;
        transform:translate(-50%,-50%);
        text-shadow:0.2vw 0.2vw 0.5vw rgba(0,0,0,.5);
    }
    #wrap[data-page=battle] div.character div.resources > div.full{
        color:#FFF;
    }

    #wrap[data-page=battle] div.character div.resources > div > div.bg{
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        filter:brightness(75%) saturate(500%) drop-shadow(0.2vw 0.2vw 0.5vw rgba(0,0,0,.5));  
    }

    #wrap[data-page=battle] div.character div.resources div.armor div.bg{
        background-image:url(../media/shield.svg);
    }
    #wrap[data-page=battle] div.character div.resources div.hp div.bg{
        background-image:url(../media/hearts.svg);
    }
    #wrap[data-page=battle] div.character div.resources div.mana div.bg{
        background-image:url(../media/emerald.svg);
    }

    #wrap[data-page=battle] div.character div.effects{
        position: absolute;
        top:0;
        left:-0.5vw;
        transform:translateY(-25%);
        width:100%;
    }

    #wrap[data-page=battle] #friends div.spellIcon:hover span.tooltip{
        transform:none;
    }  
    #wrap[data-page=battle] #enemies div.spellIcon:hover span.tooltip{
        transform:translateX(-100%);
    }  

    #wrap[data-page=battle] div.character div.effects div.spellIcon{
        width:2vw;
        height:2vw;
        border: 0.15vw solid #DFD;
        background:rgba(0,0,0,.75);
        border-radius:0.25vw;
        overflow:visible;
        color:#FFF;
        text-align: center;
        text-shadow:0.1vw 0.1vw 0.1vw #000;
        display:inline-block;
    }
    #wrap[data-page=battle] div.character div.effects div.spellIcon.detrimental{
        border-color:#FDD;
    }
    #wrap[data-page=battle] div.character div.effects div.spellIcon div.icon,
    #wrap[data-page=battle] div.character div.effects div.spellIcon div.turns
    {  
        position: absolute;
        top:0; left:0; right:0; bottom:0;
    }
    #wrap[data-page=battle] div.character div.effects div.spellIcon div.icon img{
        width:100%; height:100%;
        opacity:0.75;
    }
    
    


/**/

/* HOME */

    #wrap[data-page=home] div.left
    {
        width:70%;
        color:#FFF;
    }

    #wrap[data-page=home] div.left > div.border
    {
        margin-bottom:0.5vw;
        text-align: center;
    }

    

    #wrap[data-page=home] div.left > div.active{
        text-align: center;
        background:rgba(0,100,0,.5);
        border-color:#EFE;
    }

    #wrap[data-page=home] div.left > div.border > div.ability{
        cursor:url('../media/cursors/move.svg') 12 12, auto;
    }
    #wrap[data-page=home] div.ability{
        display:inline-block;
        font-size:1.5vw;
    }
    
    #wrap[data-page=home] div.left h1,
    #characterInspect h1{
        margin:0;
    }

    #wrap[data-page=home] div.left img.icon,
    #characterInspect img.icon
    {
        float:left;
        max-width:20vw;
        max-height:20vw;
        margin-right:1vw;
    }

    #characterInspect img.icon{
        max-width:50%;
        max-height:none;
        border:0.1vw solid #FFF;
        border-radius:1vw;
    }

    #wrap[data-page=home] div.left div.tier
    {
        display:flex;
        justify-content: center;
    }
    #wrap[data-page=home] div.left div.tier > div
    {
        width:33%;
    }
    
    #wrap[data-page=home] div.left div.tier.unlocked div.ability{
        border-color:#FFF;
        background:rgba(255,255,255,.5);
        animation:buttonHighlight 1s ease-in-out alternate infinite;
    }


    #wrap[data-page=home] div.left.battle{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #wrap[data-page=home] div.left.battle div.team{
        width:49%;
    }
    #wrap[data-page=home] div.left.battle div.netgame,
    #wrap[data-page=home] div.left.battle div.delete
    {
        width:100%;
    } 

    #wrap[data-page=home] div.left.battle div.delete{
        color:#000;
    }
    

    #wrap[data-page=home] div.left.battle div.team div.player{
        background-size:cover;
        background-position: 0% 25%;
        padding:1vw 0;
        border-radius:0.5vw;
        border: 0.2vw solid #FFF;
        user-select: none;
        cursor:url('../media/cursors/move.svg') 12 12, auto;
        margin:0.5vw;
    }

    #wrap[data-page=home] div.left.battle div.team div.player div.bg{
        background:rgba(255,255,255,.5);
        padding:1vw;
        color:#000;
    }


    #wrap[data-page=home] div.right div.wallet{
        border-color:#FFA;
        background:rgba(100,100,50,.5); 
        font-weight: bold;
        text-align: center;
    }

    #wrap[data-page=home] div.left div.shopitem{
        display:inline-block;
        border-color:#AAA;   
    }

    #wrap[data-page=home] div.left div.shopitem.owned{
        border-color:#BBA;
        background:rgba(100,100,50, .75);
    }
    #wrap[data-page=home] div.left div.shopitem:hover{
        border-color:#FFF;
    }

    #wrap[data-page=home] div.left div.shopitem.worn{
        border-color:#FFF;
        background:rgba(50,100,50,.5);
    }
    
    #wrap[data-page=home] div.left div.header div.worn{
        border-color:#FFF;
        background:#EFE;
        border-style: dashed;
        display: inline-block;
        min-width:50%;
        margin-top:1vw;
    }

    #wrap[data-page=home] div.left div.header div.worn h3,
    #wrap[data-page=home] div.left div.header div.worn p
    {
        color:rgb(50,100,50);
        margin:0;
    }


    #wrap[data-page=home] div.right{
        width:30%;
        margin-left:1vw;
    }



/**/

    
